@import "../../styles/colors.scss";
@import "../../styles/scss.scss";

.page {
    border-radius: 15px;

    &__statusBar {
        @include flexProperties(row, space-between, center, $fullWidth: true);
        flex-wrap: wrap;
        padding: 15px;

        &__title {
            color: $base-text-color;
            font-weight: bold;
        }

        &__action {
            @include normalThemeButton(16px, 10px);
            width: auto;
            height: 40px;
            // background: $secondary-bg-color-2 !important;
            // border-radius: 50px !important;
        }
    }

    &__actionBar {
        padding: 10px 15px;

        &__search {
            @include fontSize();
            border-bottom: 2px solid #a9a9a9 !important;
            border: none;
            background: transparent;
            color: $base-text-color;
            // border-radius: 5px;
            outline: none;
            padding: 10px 20px 10px 10px;
        }
    }

    &__card_container {
        width: 100%;

        &__card_box {
            @include flexProperties(row, flex-start, flex-start, $fullWidth: true);
            flex-wrap: wrap;
            padding: 20px;
            gap: 45px;

            &__card {
                @include flexProperties(column, space-between, center, $fullWidth: false);
                box-shadow: 3px 3px 6px $primary-shadow-color;
                background: $secondary-bg-color-1;
                border-radius: 15px;
                // height: 310px;
                padding: 20px;
                gap: 20px;
                width: 30%;

                &__main {
                    @include flexProperties(column, space-between, center, $fullWidth: false);
                    gap: 10px;

                    &__avatar {
                        border: 2px solid #375f8f;
                    }

                    &__title {
                        @include fontSize(22px);
                        white-space: nowrap;
                        color: white;
                    }

                    &__subtitle {
                        @include fontSize(14px);
                        color: #c3c3c3;
                    }
                }

                &__action {
                    text-align: center !important;
                    color: #d6d6d6 !important;

                    &__icon {
                        cursor: pointer;
                    }
                }
            }
        }

        &__action {
            @include flexProperties(row, center, center, $fullWidth: true);
            margin-top: 10px;

            &__btn {
                padding: 15px 30px;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                color: $base-text-color;
                background: $secondary-bg-color-1;
                border: none;
                border-radius: 5px;
                box-shadow: 2px 2px 2px #01081e;
            }
        }
    }

}

@media only screen and (max-width: 1497px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 42px;
            }
        }
    }
}

@media only screen and (max-width: 1437px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 40px;
            }
        }
    }
}

@media only screen and (max-width: 1425px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 45px;
            }
        }
    }
}

@media only screen and (max-width: 1247px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 42px;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 45px;
            }
        }
    }
}

@media only screen and (max-width: 987px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 42px;
            }
        }
    }
}

@media only screen and (max-width: 928px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 40px;
            }
        }
    }
}

@media only screen and (max-width: 887px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 37px;
            }
        }
    }
}

@media only screen and (max-width: 827px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 35px;
            }
        }
    }
}

@media only screen and (max-width: 787px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 33px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .page {
        &__card_container {
            &__card_box {
                gap: 30px;

                &__card {
                    width: 47%;
                }
            }
        }
    }
}

@media only screen and (max-width: 571px) {
    .page {
        &__card_container {
            &__card_box {
                &__card {
                    width: 45%;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .page {
        &__card_container {
            &__card_box {
                &__card {
                    width: 100%;
                }
            }
        }
    }
}