@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
    @include flexProperties(row, flex-start, flex-start, $fullWidth: true);
    // gap: 30px;

    &__config {
        // flex: 2;

        &__box {
            @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
            gap: 15px;


            &__tabs {
                background-color: #2F3443;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                color: #FFFFFF !important;
                // @include flexProperties(row, center, flex-start, $fullWidth: true);
                width: 100%;
                padding: 10px;

                &__tab {
                    width: auto !important;
                    margin-right: 5px;
                    color: #858997 !important;
                    text-transform: capitalize !important;
                    font-size: 13px !important;
                    padding: 10px 10px !important;
                    margin-right: 5px !important;
                }
            }

            &__panel {
                background: $secondary-bg-color-1;
                color: white;
                border-bottom-left-radius: 20px !important;
                border-bottom-right-radius: 20px !important;
                border-radius: 0px;
                width: 100%;
                height: 100%;
                margin-top: -15px;
                
                
            }
        }
    }

    &__container {
        // flex: 1;

        &__box {
            position: fixed;
            // background: $secondary-bg-color-1-darken;
            background: #2f3443;
            color: white;
            border-radius: 15px;
            padding: 25px;
            // min-height: 100%;
            // height: calc(100vh - 50px);
            min-height: fit-content;
            height: fit-content;
            overflow: auto;
            width: 20%;
            display: flex;
        }
    }
}

@media only screen and (max-width: 1535px) {
    .page {
        @include flexProperties(column, flex-start, flex-start, $fullWidth: true);

        &__config {
            width: 100%;
        }

        &__container {
            width: 100%;

            &__box {
                position: relative;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 380px) {
    .page {
        &__config {
            &__box {
                &__tabs {
                    &__tab {
                        min-width: 25% !important;
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 340px) {
    .page {
        &__config {
            &__box {
                &__tabs {
                    &__tab {
                        min-width: 25% !important;
                        font-size: 11px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    .page {
        &__config {
            &__box {
                &__tabs {
                    &__tab {
                        min-width: 25% !important;
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 272px) {
    .page {
        &__config {
            &__box {
                &__tabs {
                    &__tab {
                        min-width: 25% !important;
                        font-size: 8px !important;
                    }
                }
            }
        }
    }
}