@import "../../../../styles/scss.scss";
@import "../../../../styles/colors.scss";

.page {
    @include flexProperties(column, flex-start, flex-start, $fullWidth: false);
    gap: 20px;

    &__header {
        @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
        gap: 10px;
        width: 100%;

        &__heading {
            @include fontSize(22px);
            color: $base-text-color !important;
        }
    }

    &__details {
        @include flexProperties(column, flex-start, flex-start, $fullWidth: false);
        gap: 10px;
        margin-top: 10px;

           &__heading {
            @include fontSize(22px);
            color: $base-text-color !important;
        }

        &__para {
            @include fontSize(14px);
            color: $base-text-color !important;
            font-style: italic;
        }

    }
}