@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
  margin-top: 20px;
  // overflow: hidden;
  width: 100%;

  &__notes {
    flex: 1;
    width: 100%;

    &__notebox {
      width: 100%;
      background: #2f3443;
      border-radius: 20px;
      padding: 20px;

      &__chips {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
      }

      &__notetext {
        font-size: 14px;
        color: #fff;
      }
    }

    &__noteboxControls {
      @include flexProperties(column, center, center, $fullWidth: true);
      flex-direction: column !important;
      gap: 15px;
    }

    &__box {
      @include flexProperties(
        column,
        flex-start,
        flex-start,
        $fullWidth: false
      );
      width: 100%;
      gap: 20px;

      &__adetails {
        width: 100%;
        background: $secondary-bg-color-1;
        border-radius: 20px;
        padding: 20px;

        &__header {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          width: 100%;
          margin-bottom: 20px;

          &__title {
            color: $base-text-color;
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: capitalize;
          }

          &__Editbtn {
            background-color: #1976d2 !important;
            border-radius: 50% !important;
            width: 50px;
            height: 50px;
            padding: 0px;
            min-width: 50px !important;
          }
        }
      }

      &__tracks {
        width: 100%;
        background: $secondary-bg-color-1;
        border-radius: 20px;
        padding: 20px;

        &__header {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          width: 100%;

          &__title {
            color: $base-text-color;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
          }

          &__btn {
            background: $secondary-bg-color-3 !important;
            color: $base-text-color !important;
            border-radius: 25px !important;
            font-size: 14px;
            cursor: pointer;
            text-transform: uppercase;
            border: none;
            padding: 5px 20px !important;

            &:hover {
              background: #01a177 !important;
            }
          }
        }
      }
    }
  }
  &__list {
    overflow-y: scroll;
    height: 572px;
    max-height: 572px;
    width: 100% !important;
    // max-width: 100%;
    &__ul {
      // height: 415px;
      // overflow: auto;
      // list-style: none;
      // padding: 0;
      // margin: 0;

      &__li {
        // @include flexProperties(row, space-between, center, $fullWidth: true);
        // gap: 30px;
        // border-bottom: 1px solid rgba(255, 255, 255, .2);
        // padding: 20px;
        // cursor: pointer;

        // &:last-child {
        //     border-bottom: none;
        // }

        &__name {
          font-size: 15px;
          line-height: 25px;
          text-transform: capitalize;
          letter-spacing: 0px;
          color: $base-text-color;
          font-weight: normal;
          @include textEllipsisLineClamp(2);
        }
        &__tracktype {
          font-size: 15px;
          line-height: 25px;
          text-transform: capitalize;
          letter-spacing: 0px;
          color: $base-text-color;
          font-weight: normal;
        }
      }
    }

    &__loader {
      @include flexProperties(column, center, center, $fullWidth: true);
      width: 100%;
      height: 100%;
    }
  }
}


.table {
  background: #2f3443 !important;
  overflow: scroll;
  overflow-x: hidden !important;
  width: 100%;
  height: 570px;
  border-collapse: separate !important;
  border-spacing: 4px !important;

  

  &__head {
    position: sticky;
    z-index: 1;
    &:first-child {
      width: 5%;
    }
  }

  &__brow {
    overflow: hidden !important;
    tr {
      background-color: #6b7698;

      :first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        // overflow: hidden;
      }

      :last-child {
        border-top-right-radius: 12px !important;
        border-bottom-right-radius: 12px !important;
      }
      // &:nth-child(even) {
      //     background-color: #383e51 !important;
      // }

      // &:nth-child(odd) {
      //     background-color: #40475a !important;
      // }
    }

   
  }

  &__col1 {
    width: 100% !important;
    color: white !important;
    background: #2f3443 !important;
    text-align: left !important;
    width: auto !important;
    text-transform: uppercase;
    border-bottom: 1px solid #474d5e;
  }
  &__col {
    color: white !important;
    background: #2f3443 !important;
    text-align: left !important;
    width: auto !important;
    text-transform: uppercase;
    font-size: 12px !important;
    border-bottom: 1px solid #2f3443 !important;
    &:first-child {
        width: 30px !important;
    }
    // font-weight: bold !important;
  }

  &__row {
    color: #fff !important;

    // text-align: center !important;
    max-width: 500px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-bottom: 3px solid #2f3443 !important;

    &__action2 {
      justify-content: flex-end;
      display: flex;
      &__btn {
        box-shadow: 0px 0px 10px #00000028;
        padding: 0px;
        width: 50px !important;
        min-width: 50px !important;
        padding: 15px !important;
        background-color: #017df8 !important;
        color: #fff;
        margin-right: 5px !important;
        border-radius: 12px !important;
      }
    }

    &__green {
      color: green;
    }

    &__red {
      color: red;
    }

    &__icon {
      cursor: pointer;
    }

    &__filename {
        text-overflow: ellipsis !important;
        width: 16vw !important;
        font-size: 16px;
    }

    &__artistname {
      // font-weight: bold;
      font-size: 16px;
      img {
        transform: translateY(5px);
        margin-right: 5px;
      }
    }
    &__href {
      text-decoration: none;
    }
    &__href:hover {
      color: palevioletred;
    }

    &__name {
      display: flex;
      width: 200px;
      justify-content: flex-start;
      align-items: center;
    }
    &__sosi {
      // width: 10%;
      font-size: 12px;
    }
  }
}
.notebox.note {
  overflow: visible !important;
}
.note::before {

  content: "";
  width: 120%;
  height: 20px;
  background-color: #6b7698;
  position: absolute;
  top: -20px;
  left: -30px;
  z-index: 2;
}

  
.modalbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #383e51;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #000000;
  padding: 20px;
  color: #ffffff;
  border: none;

  &__closebutton {
    text-align: right;
    img {
      cursor: pointer;
    }
  }

  &__textfield {
    background-color: #6b7698;
    border-radius: 12px;
    resize: none;
    width: 60vw;
    color: #fff !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;

    &:focus {
      outline: none !important;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    &__urev {
      margin-right: 5px !important;
      border-radius: 12px !important;
      padding: 15px 20px !important;
    }

    &__cmnt {
      border-radius: 12px !important;
      padding: 15px 20px !important;
    }
  }
}

@media only screen and (max-width: 460px) {
  .page {
    &__list {
      max-width: 325px;
      &__ul {
        &__li {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          gap: 30px;
          &__name {
            text-align: center;
          }
        }
      }
    }
  }
//   .table {
//     // &__col {

//     // }
//     overflow-x: scroll;

//     &__row {
//       &__sosi {
//         width: 100%;
//       }
//     }
//   }
}
